/* App.css */

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the app takes up at least the height of the viewport */
  }
  
  .Content {
    flex: 1; /* Grow to fill available space */
  }
  
  .Footer {
    margin-top: auto; /* Push the footer to the bottom */
  }
  